<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Design Menu</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h2 class="text-center">Design Your Food Order</h2>
		<div class="text-center mt-3">
			<img th:src="@{/images/food.jpg}" class="rounded" alt="" />
		</div>
		          
		<div class="row py-5">
			<div class="col-md-8 offset-md-2">
				<form method="POST" action="" th:object="${menu}" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-6 mt-3">
							<div class="card">
								<div class="card-body">
									<div class="ingredient-group" id="wraps">
										<h3>Designate your Wrap:</h3>
										<div th:each="ingredient : ${wrap}" >
											<input 
												type="checkbox" 
												th:field="*{ingredients}"
												th:value="${ingredient.id}"
											/>
											<span th:text="${ingredient.name}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-3">
							<div class="card">
								<div class="card-body">
									<div class="ingredient-group" id="proteins">
										<h3>Designate your Protein:</h3>
										<div th:each="ingredient : ${protein}" >
											<input 
												type="checkbox" 
												th:field="*{ingredients}"
												th:value="${ingredient.id}"
											/>
											<span th:text="${ingredient.name}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-3">
							<div class="card">
								<div class="card-body">
									<div class="ingredient-group" id="cheeses">
										<h3>Designate your Cheese:</h3>
										<div th:each="ingredient : ${cheese}" >
											<input 
												type="checkbox" 
												th:field="*{ingredients}"
												th:value="${ingredient.id}"
											/>
											<span th:text="${ingredient.name}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-3">
							<div class="card">
								<div class="card-body">
									<div class="ingredient-group" id="veggies">
										<h3>Designate your Cheese:</h3>
										<div th:each="ingredient : ${veggies}" >
											<input 
												type="checkbox" 
												th:field="*{ingredients}"
												th:value="${ingredient.id}"
											/>
											<span th:text="${ingredient.name}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 mt-3">
							<div class="card">
								<div class="card-body">
									<div class="ingredient-group" id="sauces">
										<h3>Designate your Sauce:</h3>
										<div th:each="ingredient : ${sauce}">
											<input 
												type="checkbox"
												th:field=*{ingredients}
												th:value="${ingredient.id}" 
											/>
											<span th:text="${ingredient.name}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-md-6">
							<h4>Name Your Menu Creation</h4>
							<input 
								class="form-control" 
								type="text"
								th:field="*{name}" 
								th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
							/>
							<p class="p-0 m-0 invalid-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}"></p>
							<input class="btn btn-primary mt-2" type="submit" value="Submit" />
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>